venv/
__pycache__/
*.pyc
*.spec

3D_Project/aligned_colored_merged/
3D_Project/aligned_colored_merged_face/
3D_Project/aligned_data_part_colored_face/
3D_Project/aligned_public_data_recolor/
3D_Project/All_dataset_split_face/
3D_Project/colored_merged/
3D_Project/colored_merged_face/
3D_Project/colored_merged_vertex/
3D_Project/data_IoSSeg_alpha/
3D_Project/data_IoSSeg_alpha_rgb/
3D_Project/data_part/
3D_Project/data_part_colored_face/
3D_Project/data_part_resampled/
3D_Project/dataset_split/
3D_Project/dataset_split_face/
3D_Project/configs/
3D_Project/checkpoints/
3D_Project/*.egg-info/
3D_Project/iosseg3d.egg-info/
3D_Project/src/iosseg3d.egg-info/

3D_Project/mesh_label_colorizer/data/colored_ready
3D_Project/mesh_label_colorizer/data/labels_remap
3D_Project/mesh_label_colorizer/data/raw
3D_Project/mesh_label_colorizer/data/remeshed
3D_Project/mesh_label_colorizer/venv/

3D_Project/out_vis_debug_case/
3D_Project/public_data/
3D_Project/public_data_recolor/
3D_Project/resampled/
3D_Project/results/
3D_Project/results_new/
3D_Project/scanfile_ply/
3D_Project/venv/
3D_Project/vis_results/

app_dental/dist/
app_dental/build/



